.textColumn{
    display: inline-block;
    width: 49%;
    text-align: justify;
    border: 1px solid blue;
    box-sizing: border-box;
    margin-bottom: 15px;
}

span {
        display: inline;
        border: 5px solid red;
        padding: 3px;
}
